

<div class="bg-dark text-white py-2 px-3">
  <div class="container-fluid d-flex flex-wrap align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon" style="height: 30px;">
    </div>

    <!-- Location -->
    <div class="text-white ms-3 d-none d-md-block">
      <small class="d-block">Delivering to Surat 394210</small>
      <span class="text-white-50" style="font-size: 0.85rem;">
        <i class="bi bi-geo-alt-fill"></i> Update location
      </span>
    </div>

    <div class="flex-grow-1 mx-3 d-flex" style="max-width: 600px;">
      <select class="form-select w-auto rounded-0 rounded-start">
        <option>All</option>
      </select>
      <input type="text" class="form-control rounded-0" placeholder="Search Amazon.in">
      <button class="btn btn-warning rounded-0 rounded-end">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <div class="d-flex align-items-center text-white gap-3">
      <div class="text-center d-none d-md-block">
        <img src="https://flagcdn.com/in.svg" width="20" alt="EN" class="me-1">
        <span style="font-size: 0.85rem;">EN</span>
      </div>

      <div class="text-center d-none d-md-block "[routerLink]="['/signup']">
        <small>Hello, sign in</small><br>
        <strong>Account & Lists</strong>
      </div>

      <div class="text-center d-none d-md-block">
        <small>Returns</small><br>
        <strong>& Orders</strong>
      </div>

      <div class="text-center" [routerLink]="['/cart']">
        <i class="bi bi-cart3 fs-5"></i><br>
        <strong>Cart</strong>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center gap-3 px-3 py-2 bg-black text-white text-nowrap overflow-auto">
  <a class="header-link" href="#">All</a>
  <a class="header-link" href="#">Amazon mini TV</a>
  <a class="header-link" href="#">Sell</a>
  <a class="header-link" href="#">Best Sellers</a>
  <a class="header-link" href="#">Today's Deals</a>
  <a class="header-link" href="#">Mobiles</a>
  <a class="header-link" href="#">Customer Service</a>
  <a class="header-link" href="#">Prime</a>
  <a class="header-link" href="#">Electronics</a>
  <a class="header-link" href="#">Fashion</a>
  <a class="header-link" href="#">New Releases</a>
  <a class="header-link" href="#">Home & Kitchen</a>
  <a class="header-link" href="#">Amazon Pay</a>
</div>
